@import "./typography.css";
@import "tailwindcss";

@theme {
  --color-sonnenweg-100: #f4ebd9;
  --color-sonnenweg-200: #b6ada9;
  --color-sonnenweg-slate: #e9e5e5;
  --color-brand-50: #fcfaf4;
  --color-brand-400: #fabb21;
  --color-brand-800: #383838;
  --color-brand-900: #262626;
  --color-brand-950: #181818;
  --color-sonnenweg-100: #f4ebd9;
  --color-sonnenweg-200: #b6ada9;
  --color-sonnenweg-slate: #e9e5e5;

  --color-white: #fff;
  --color-black: black;
  --color-beige-100: #f6efe0;
  --color-beige-200: #e1d3b6;
  --color-neutral-lightest: #fffefc;
  --color-neutral: #666;
  --color-neutral-dark: #444;
  --color-neutral-darker: var(--brand-color--brand-800);
  --color-neutral-darkest: var(--brand-color--brand-950);
  /* --color-neutral-beige-200-old: #e4cfa3; */
}

:root {
  --transparent: transparent;
  --disabled-darker: #b9b9b9;
  --form-error-red: #eb2e2e;
  --system-color--error-red: #181818;
  --system-color--error-red-dark: #fabb21;
  --system-color--success-green: #ffc73d;
  --system-color--success-green-dark: #181818;
  --system-color--warning-yellow-dark: #5e5515;
  --system-color--focus-state: #2d62ff;
  --background-color--disabled: #ececec;
  --background-color--background-overlay: #18181859;

  --brand-50: var(--brand-color--brand-50);
  --brand-400: var(--brand-color--brand-400);
  --brand-900: var(--brand-color--brand-900);
  --brand-950: var(--brand-color--brand-950);
  --white: var(--neutral-color--white);
  --black: var(--neutral-color--black);
  --neutral-lightest: var(--neutral-color--neutral-lightest);
  --neutral: var(--neutral-color--neutral);
  --neutral-dark: var(--neutral-color--neutral-dark);
  --beige-100: var(--neutral-color--beige-100);
  --beige-200: var(--neutral-color--beige-200);
  --disabled-bg: var(--disabled-bg);
  --background-overlay: var(--background-color--background-overlay);
  --success-green: var(--system-color--success-green);
  --success-green-dark: var(--system-color--success-green-dark);
  --warning-yellow-dark: var(--system-color--warning-yellow-dark);
  --error-red: var(--system-color--error-red);
  --error-red-dark: var(--system-color--error-red-dark);
  --focus-state: var(--system-color--focus-state);
  --beige-dark: var(--beige-dark);
}

.text-h1 {
  height: var(--text--h1);
}
.text-h2 {
  height: var(--text--h2);
}
.text-h3 {
  height: var(--text--h3);
}
.text-h4 {
  height: var(--text--h4);
}
.text-h5 {
  height: var(--text--h5);
}
.text-h6 {
  height: var(--text--h6);
}
.text-large {
  height: var(--text--large);
}
.text-medium {
  height: var(--text--medium);
}
.text-regular {
  height: var(--text--regular);
}
.text-small {
  height: var(--text--small);
}
.text-tiny {
  height: var(--text--tiny);
}
