<style>:root {
  /* RENAMING CSS VARIABLES */
  --brand-400: var(--brand-color--brand-400);
  --brand-50: var(--brand-color--brand-50);
  --brand-900: var(--brand-color--brand-900);
  --brand-950: var(--brand-color--brand-950);
  --white: var(--neutral-color--white);
  --black: var(--neutral-color--black);
  --neutral-lightest: var(--neutral-color--neutral-lightest);
  --neutral: var(--neutral-color--neutral);
  --beige-100: var(--neutral-color--beige-100);
  --beige-200: var(--neutral-color--beige-200);
  --neutral-dark: var(--neutral-color--neutral-dark);
  --disabled-bg: var(--disabled-bg);
  --background-overlay: var(--background-color--background-overlay);
  --circle-size: var(--circle--circle-size);
  --success-green: var(--system-color--success-green);
  --success-green-dark: var(--system-color--success-green-dark);
  --warning-yellow-dark: var(--system-color--warning-yellow-dark);
  --error-red: var(--system-color--error-red);
  --error-red-dark: var(--system-color--error-red-dark);
  --focus-state: var(--system-color--focus-state);
  --beige-dark: var(--beige-dark);
}

[possibly-empty="true"]:empty,
[possibly-empty="true"]:has(.w-richtext:empty) {
  display: none;
}

[gap="regular"] {
  gap: var(--spacing--regular);
}

[gap="xregular"] {
  gap: var(--spacing--xregular);
}

[gap="medium"] {
  gap: var(--spacing--medium);
}

[gap="xmedium"] {
  gap: var(--spacing--xmedium);
}

[gap="large"] {
  gap: var(--spacing--large);
}

[gap="xlarge"] {
  gap: var(--spacing--xlarge);
}

[gap="xxlarge"] {
  gap: var(--spacing--xxlarge);
}

[gap="huge"] {
  gap: var(--spacing--huge);
}

[gap="xhuge"] {
  gap: var(--spacing--xhuge);
}

[gap="xxhuge"] {
  gap: var(--spacing--xxhuge);
}

a:hover:not(:has(*), .button, .button-arrow, .nav_link, .button-tertiary) {
  text-decoration: underline;
}

[section-style="branded"] .circle-background {
  background-color: var(--beige-100);
}

[background-color="dark"] {
  background-color: var(--brand-900);
}

[background-color="light"] {
  background-color: var(--brand-50);
}

.split-slot:has(.swiper) {
  padding-right: 1px;
}

.w-richtext ol li::marker {
  color: var(--brand-400);
}

[data-max-width-label-container="true"],
.dish {
  container-type: inline-size;
  container-name: dish
}

.team-abteilung:has(.team-grid):has(.w-dyn-item:nth-child(3)) {
  width: 100%;
  grid-column: 1 / -1 !important;
}

@container dish (max-width: 35rem) {
  [data-label="true"]>[data-label-text="true"] {
    display: none;
  }
}

/* .nav-on-dark .nav_brand-svg,
.nav-on-dark .nav-button>:first-child {
  color: var(--neutral-lightest);
} */

.bento-trailing>*:not(.bento-card-show_content),
.bento-card-show_content>*:not(.bento-image_gradient) {
  z-index: 1;
  position: relative;
}

[relative="true"] {
  position: relative;
}

.relative-children>*:not([already-relative]) {
  position: relative;
}

.inline-children>* {
  display: inline;
}

.bento-card h3 {
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (max-width: 1212px) {
  [data-stack-breakpoint="1200"] {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
  }

  .job-layout {
    flex-direction: column;
    align-items: center;
  }

  .job-sticky {
    max-width: 48rem;
  }
}

@media screen and (max-width: 1100px) {
  [data-stack-breakpoint="1100"] {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
  }
}

/*}*/

[padding-global] {
  padding: 0rem 3rem;
}

@media screen and (min-height: 64rem) {
  section.section-hero {
    min-height: 64rem !important;
  }
}

@media screen and (max-width: 991px) {
  [padding-global] {
    padding: 0rem 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  [padding-global] {
    padding: 0rem 1.25rem;
  }

  #download>:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
  }
}

@media screen and (max-width: 478px) {}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.status-component.is-top .status {
  border-radius: 0px;
}

.aform-pagination_item:last-child {
  width: auto;
}
