.card h1,
.card h2,
.card h3:not(.card-title),
.card:not([section-style="sonnenweg-200"]) h4,
.card:not([section-style="sonnenweg-200"]) h5,
.card:not([section-style="sonnenweg-200"]) h6,
.card .job-card_category-name,
.card .job-card_icon {
  color: var(--color--brand-400);
}

.card_trailing:hover .icon-1x1-small {
  left: 0.3rem;
}

.card_trailing-group > :first-child {
  padding-right: 1rem;
}

.third-layout-column .bereiche-heading {
  color: var(--color--white);
}

.third-layout-column:hover .bereiche-heading {
  color: inherit;
}
