@import "./typography.css";
@import "tailwindcss";

@theme {
  --color-sonnenweg-100: #f4ebd9;
  --color-sonnenweg-200: #b6ada9;
  --color-sonnenweg-slate: #e9e5e5;
  --color-brand-50: #fcfaf4;
  --color-brand-400: #fabb21;
  --color-brand-800: #383838;
  --color-brand-900: #262626;
  --color-brand-950: #181818;
  --color-sonnenweg-100: #f4ebd9;
  --color-sonnenweg-200: #b6ada9;
  --color-sonnenweg-slate: #e9e5e5;

  --color-white: #fff;
  --color-black: black;
  --color-beige-100: #f6efe0;
  --color-beige-200: #e1d3b6;
  --color-neutral-lightest: #fffefc;
  --color-neutral: #666;
  --color-neutral-dark: #444;
  --color-neutral-darker: var(--brand-color--brand-800);
  --color-neutral-darkest: var(--brand-color--brand-950);
  /* --color-neutral-beige-200-old: #e4cfa3; */

  --text-tv-display: calc(6 * var(--tv-rem));
  --text-tv-h1: calc(4.25 * var(--tv-rem));
  --text-tv-h1--line-height: 1.1;
  --text-tv-h2: calc(3.5 * var(--tv-rem));
  --text-tv-h2--line-height: 1.1;
  --text-tv-h3: calc(3 * var(--tv-rem));
  --text-tv-h3--line-height: 1.2;
  --text-tv-h4: calc(3 * var(--tv-rem));
  --text-tv-h4--line-height: 1.2;
  --text-tv-h5: calc(3 * var(--tv-rem));
  --text-tv-h5--line-height: 1.2;
  --text-tv-h6: calc(3 * var(--tv-rem));
  --text-tv-h6--line-height: 1.2;
  --text-tv-large: calc(3 * var(--tv-rem));
  --text-tv-large--line-height: 1.3;
  --text-tv-medium: calc(2.5 * var(--tv-rem));
  --text-tv-medium--line-height: 1.3;
  --text-tv-regular: calc(2.25 * var(--tv-rem));
  --text-tv-regular--line-height: 1.3;
  --text-tv-small: calc(2 * var(--tv-rem));
  --text-tv-small--line-height: 1.5;
  --text-tv-tiny: calc(1.75 * var(--tv-rem));
  --text-tv-tiny--line-height: 1.5;

  --spacing: calc(4 * var(--tv-px));
  --border-width-tv: calc(1 * var(--tv-px));
}

:root {
  --transparent: transparent;
  --disabled-darker: #b9b9b9;
  --form-error-red: #eb2e2e;
  --system-color--error-red: #181818;
  --system-color--error-red-dark: #fabb21;
  --system-color--success-green: #ffc73d;
  --system-color--success-green-dark: #181818;
  --system-color--warning-yellow-dark: #5e5515;
  --system-color--focus-state: #2d62ff;
  --background-color--disabled: #ececec;
  --background-color--background-overlay: #18181859;

  --brand-50: var(--brand-color--brand-50);
  --brand-400: var(--brand-color--brand-400);
  --brand-900: var(--brand-color--brand-900);
  --brand-950: var(--brand-color--brand-950);
  --white: var(--neutral-color--white);
  --black: var(--neutral-color--black);
  --neutral-lightest: var(--neutral-color--neutral-lightest);
  --neutral: var(--neutral-color--neutral);
  --neutral-dark: var(--neutral-color--neutral-dark);
  --beige-100: var(--neutral-color--beige-100);
  --beige-200: var(--neutral-color--beige-200);
  --disabled-bg: var(--disabled-bg);
  --background-overlay: var(--background-color--background-overlay);
  --success-green: var(--system-color--success-green);
  --success-green-dark: var(--system-color--success-green-dark);
  --warning-yellow-dark: var(--system-color--warning-yellow-dark);
  --error-red: var(--system-color--error-red);
  --error-red-dark: var(--system-color--error-red-dark);
  --focus-state: var(--system-color--focus-state);
  --beige-dark: var(--beige-dark);

  --tv-px: min(calc(1 / 3840 * 100vw), calc(1 / 2160 * 100vh));
  --tv-rem: min(calc(16 / 3840 * 100vw), calc(16 / 2160 * 100vh));
  --tv-width: min(100vw, calc(100vh * 16 / 9));
  --tv-height: min(100vh, calc(100vw * 9 / 16));

  --spacing--xs: calc(0.25 * var(--tv-rem));
  --spacing--sm: calc(0.5 * var(--tv-rem));
  --spacing--rg: calc(1 * var(--tv-rem));
  --spacing--xr: calc(1.25 * var(--tv-rem));
  --spacing--md: calc(1.5 * var(--tv-rem));
  --spacing--xm: calc(1.5 * var(--tv-rem));
  --spacing--lg: calc(2 * var(--tv-rem));
  --spacing--xl: calc(2.5 * var(--tv-rem));
  --spacing--2xl: calc(3 * var(--tv-rem));
  --spacing--3xl: calc(4 * var(--tv-rem));
  --spacing--4xl: calc(5 * var(--tv-rem));
  --spacing--5xl: calc(6 * var(--tv-rem));
  --spacing--6xl: calc(7 * var(--tv-rem));
  --spacing--hg: calc(10 * var(--tv-rem));
}

.text-h1 {
  height: var(--text--h1);
}
.text-h2 {
  height: var(--text--h2);
}
.text-h3 {
  height: var(--text--h3);
}
.text-h4 {
  height: var(--text--h4);
}
.text-h5 {
  height: var(--text--h5);
}
.text-h6 {
  height: var(--text--h6);
}
.text-large {
  height: var(--text--large);
}
.text-medium {
  height: var(--text--medium);
}
.text-regular {
  height: var(--text--regular);
}
.text-small {
  height: var(--text--small);
}
.text-tiny {
  height: var(--text--tiny);
}
