.lightbox-play-icon {
  -webkit-transition: all 1.5s;
  -webkit-backface-visibility: hidden;
}


.header82_content-bottom:hover .lightbox-play-icon {
  -webkit-transform: scale3d(1.5, 1.5, 1);
  /* color: white; */
}

#cta-button * {
  pointer-events: none;
}

/* #cta-button.hover-in .button-jet_icon {
  /* animation: jet-icon 1s cubic-bezier(.455, .03, .515, .955) forwards; *
  position: relative;
}

#cta-button:not(:hover) .button-jet_icon {
  left: 0%;
  /* animation: jet-icon 1s cubic-bezier(.455, .03, .515, .955) alternate-reverse forwards; *
  position: relative;
}

#cta-button.hover-in .button-jet_text {
  /* animation: jet-text 1s cubic-bezier(.455, .03, .515, .955) forwards; *
  position: relative;
}

#cta-button:not(:hover) .button-jet_text {
  opacity: 100%;
  left: 0rem;
  /* animation: jet-text 1s cubic-bezier(.455, .03, .515, .955) alternate-reverse forwards; *
  position: relative;
} */

@keyframes jet-icon {
  0% {
    left: 0%;
  }
  100% {
    left: 90%;
  }
}

@keyframes jet-text {
  0% {
    opacity: 100%;
    left: 0rem;
  }
  20% {
    opacity: 0%;
    left: 0rem;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    left: -3rem;
  }
}

/* Smooth reverse effect using transitions */
#cta-button .button-jet_icon,
#cta-button .button-jet_text {
  transition: all 1s cubic-bezier(.455, .03, .515, .955);
}