html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  height: 100%;
}

body {
  margin: 0;
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--neutral-color--neutral-lightest);
  color: var(--text-color--text-primary);
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1.2;
}

svg:not(:root) {
  overflow: hidden;
}

html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

html input[disabled] {
  cursor: default;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

html[data-w-dynpage] [data-w-cloak] {
  color: #0000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.3;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.4;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.4;
}

.w-richtext:before,
.w-richtext:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.w-richtext:after {
  clear: both;
}

.w-richtext[contenteditable=true]:before,
.w-richtext[contenteditable=true]:after {
  white-space: initial;
}

.w-richtext ol,
.w-richtext ul {
  overflow: hidden;
}

.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after,
.w-richtext .w-richtext-figure-selected[data-rt-type=video] div:after,
.w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div,
.w-richtext .w-richtext-figure-selected[data-rt-type=image] div {
  outline: 2px solid #2895f7;
}

.w-richtext figure.w-richtext-figure-type-video>div:after,
.w-richtext figure[data-rt-type=video]>div:after {
  content: "";
  display: none;
  position: absolute;
  inset: 0;
}

.w-richtext figure {
  max-width: 60%;
  position: relative;
}

.w-richtext figure>div:before {
  cursor: default !important;
}

.w-richtext figure img {
  width: 100%;
}

.w-richtext figure figcaption.w-richtext-figcaption-placeholder {
  opacity: .6;
}

.w-richtext figure div {
  color: #0000;
  font-size: 0;
}

.w-richtext figure.w-richtext-figure-type-image,
.w-richtext figure[data-rt-type=image] {
  display: table;
}

.w-richtext figure.w-richtext-figure-type-image>div,
.w-richtext figure[data-rt-type=image]>div {
  display: inline-block;
}

.w-richtext figure.w-richtext-figure-type-image>figcaption,
.w-richtext figure[data-rt-type=image]>figcaption {
  caption-side: bottom;
  display: table-caption;
}

.w-richtext figure.w-richtext-figure-type-video,
.w-richtext figure[data-rt-type=video] {
  width: 60%;
  height: 0;
}

.w-richtext figure.w-richtext-figure-type-video iframe,
.w-richtext figure[data-rt-type=video] iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.w-richtext figure.w-richtext-figure-type-video>div,
.w-richtext figure[data-rt-type=video]>div {
  width: 100%;
}

.w-richtext figure.w-richtext-align-center {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image>div,
.w-richtext figure.w-richtext-align-center[data-rt-type=image]>div {
  max-width: 100%;
}

.w-richtext figure.w-richtext-align-normal {
  clear: both;
}

.w-richtext figure.w-richtext-align-fullwidth {
  text-align: center;
  clear: both;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-richtext figure.w-richtext-align-fullwidth>div {
  padding-bottom: inherit;
  display: inline-block;
}

.w-richtext figure.w-richtext-align-fullwidth>figcaption {
  display: block;
}

.w-richtext figure.w-richtext-align-floatleft {
  float: left;
  clear: none;
  margin-right: 15px;
}

.w-richtext figure.w-richtext-align-floatright {
  float: right;
  clear: none;
  margin-left: 15px;
}

:root {
  --neutral-color--neutral-lightest: #fffefc;
  --text-color--text-primary: var(--background-color--background-950);
  --link-color--link-primary: var(--brand-color--brand-400);
  --brand-color--brand-400: #fabb21;
  --neutral-color--beige-200: #e1d3b6;
  --brand-color--brand-50: #fcfaf4;
  --spacing--padding-global: var(--spacing--xmedium);
  --spacing--padding-global-mobile: var(--spacing--mregular);
  --spacing--xlarge: 4rem;
  --spacing--xsmall: .5rem;
  --spacing--xhuge: 8rem;
  --spacing--xxhuge: 12rem;
  --spacing--huge: 6rem;
  --spacing--large: 3rem;
  --spacing--xxlarge: 5rem;
  --spacing--xxsmall: .25rem;
  --spacing--tiny: .125rem;
  --spacing--small: .75rem;
  --spacing--medium: 2rem;
  --background-color--background-primary\<deleted\|variable-9f6b6bb4-0795-c8ab-f302-bbebab6f2554\>: var(--brand-color--brand-400);
  --text-color--text-secondary: var(--brand-color--brand-900);
  --background-color--background-success\<deleted\|variable-879e2a57-3170-38fd-0ae7-d0e890873ab2\>: var(--system-color--success-green);
  --text-color--text-success: var(--system-color--success-green-dark);
  --text-color--text-alternate: var(--neutral-color--white);
  --page-width: 132rem;
  --border-color--border-primary\<deleted\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>: var(--neutral-color--neutral-lightest);
  --background-color--background-alternate\<deleted\|variable-41ecbc38-077c-494f-9138-9468b7354b23\>: var(--neutral-color--neutral-darker);
  --neutral-color--beige-100: #f6efe0;
  --disabled-darker: #b9b9b9;
  --form-error-red: #eb2e2e;
  --background-color--background-tertiary\<deleted\|variable-6632d948-2d2d-2556-731d-05a71c92f234\>: var(--brand-color--rust-400);
  --background-color--background-error\<deleted\|variable-89aecd3e-2fe8-312c-65a2-e3e7c57d326c\>: var(--system-color--error-red);
  --text-color--text-error: var(--system-color--error-red-dark);
  --border-color--border-alternate\<deleted\|variable-551aa6d2-4bf8-6036-137a-78e1c71841a4\>: var(--neutral-color--neutral-darker);
  --brand-color--brand-900: #383838;
  --neutral-color--black: black;
  --background-color--background-900: var(--brand-color--brand-900);
  --background-color--background-950: var(--neutral-color--neutral-darkest);
  --background-color--background-warning\<deleted\|variable-0aa1a7ce-e851-b6b5-66db-1a1a96e8e04b\>: var(--system-color--warning-yellow);
  --text-color--text-warning: var(--system-color--warning-yellow-dark);
  --background-color--background-overlay: #18181859;
  --spacing--xmedium: 2.5rem;
  --brand-color--green-300: var(--neutral-color--beige-100);
  --background-color--background-secondary\<deleted\|variable-2dd539ce-5be2-4493-8245-a883e87dab6d\>: var(--brand-color--green-300);
  --brand-color--rust-400: var(--brand-color--brand-400);
  --background-color--disabled: #ececec;
  --brand-color--green-400: var(--brand-color--brand-400);
  --spacing--xregular: 1.5rem;
  --brand-color--green-600: var(--brand-color--brand-400);
  --neutral-color--white: #fff;
  --neutral-color--neutral-darkest: var(--brand-color--brand-950);
  --brand-color--brand-950: #181818;
  --link-color--link-alternate: var(--neutral-color--white);
  --link-color--link-secondary: var(--neutral-color--neutral-darkest);
  --spacing--regular: 1rem;
  --neutral-color--neutral: #666;
  --circle--circle-size: 12em;
  --text-size--xlarge: 1.5rem;
  --text-size--large: 1.25rem;
  --brand-color--sonnenweg-slate: #e9e5e5;
  --system-color--error-red-dark: #fabb21;
  --system-color--error-red: #181818;
  --system-color--success-green: #ffc73d;
  --system-color--success-green-dark: #181818;
  --pending: var(--neutral-color--beige-100);
  --pending-dark: var(--brand-color--brand-900);
  --button-ui-gap: .5rem;
  --brand-color--sonnenweg-100: #f4ebd9;
  --brand-color--sonnenweg-200: #b6ada9;
  --neutral-color--neutral-dark: #444;
  --neutral-color--neutral-darker: var(--brand-color--brand-900);
  --neutral-color--beige-200-old: #e4cfa3;
  --spacing--mregular: 1.25rem;
  --system-color--warning-yellow: var(--brand-color--brand-50);
  --system-color--warning-yellow-dark: #5e5515;
  --system-color--focus-state: #2d62ff;
  --text-size--medium: 1.125rem;
  --text-size--regular: 1rem;
  --text-size--small: .875rem;
  --text-size--tiny: .75rem;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}

.text-rich-text {
  transition-property: height;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
  width: 100% !important;
}

.text-rich-text h1,
.text-rich-text h2,
.text-rich-text h3,
.text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text h6 {
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.text-rich-text ul {
  margin-bottom: 1.5rem;
  padding-left: 2.3rem;
}

.text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-rich-text.italic-is-yellow em {
  color: var(--brand-color--brand-400);
  font-style: normal;
}

.text-rich-text.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-rich-text.is-datenschutz em {
  color: currentColor;
  font-style: italic;
}

.text-rich-text.is-datenschutz a {
  text-decoration: underline;
}

.text-rich-text.is-menu-category sup {
  height: 1.5rem;
  font-size: .9rem;
  line-height: 1.5rem;
  top: auto;
  bottom: auto;
}

.text-rich-text.is-menu-category sub {
  height: 1.5rem;
  font-size: .9rem;
  line-height: 1.5rem;
  position: relative;
  top: auto;
  bottom: auto;
}

.text-rich-text.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-rich-text p {
  margin-bottom: .5rem;
}

.text-rich-text.normal-italic em {
  color: var(--text-color--text-primary);
  font-style: italic;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-style-h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}

.padding-global {
  max-width: var(--page-width);
  padding-right: var(--spacing--padding-global);
  padding-left: var(--spacing--padding-global);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.padding-global.padding-section-small {
  transition: background-color .2s;
}

.padding-global.padding-section-small.is-nav {
  display: block;
}

.padding-global.padding-section-medium {
  pointer-events: auto;
}

.padding-global.padding-nav {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}

.padding-global.padding-nav.relative {
  z-index: 10;
}

.padding-global.padding-section-hero {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.heading-style-h4 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.3;
}

.heading-style-h6 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.4;
}

.heading-style-h2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
}

.heading-style-h5 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.4;
}

.heading-style-h5.text-weight-bold {
  font-weight: 700;
}

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.padding-section-medium {
  padding-top: var(--spacing--huge);
  padding-bottom: var(--spacing--huge);
}

.padding-section-medium.special {
  padding-bottom: 3.5rem;
}

.spacer-xsmall {
  padding-top: var(--spacing--xsmall);
  width: 100%;
}

.spacer-small {
  padding-top: var(--spacing--small);
  width: 100%;
}

.spacer-large {
  padding-top: var(--spacing--large);
  width: 100%;
}

.section-title {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  text-align: left;
  flex-flow: column;
  width: 100%;
  max-width: 52rem;
  display: flex;
}

.section-title.align-center {
  margin-left: auto;
  margin-right: auto;
}

.section-title.blending-overlay {
  color: var(--text-color--text-alternate);
  mix-blend-mode: overlay;
}

.section-title.text-shadow {
  text-shadow: 0 2px 8px #00000036;
}

.section-title.max-width-medium {
  max-width: 32rem;
}

.tbody {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.heading-topic {
  color: var(--brand-color--brand-400);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
}

.heading-topic:hover {
  text-decoration: none !important;
}

.heading-topic.inherit-color {
  color: inherit;
}

.heading-topic.text-color-alternate {
  color: var(--neutral-color--neutral-lightest);
}

.heading-topic.text-color-primary {
  color: var(--text-color--text-primary);
}

.section-title-center {
  text-align: center;
  flex-flow: column;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section-title-center.wide {
  max-width: 56rem;
}

.heading-topic-light {
  color: var(--brand-color--brand-50);
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 600;
}

.split_content-text {
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  display: block;
}

.split_content-text.is-sticky {
  position: sticky;
  top: calc(5.5rem + 15vh);
}

.split_content-text.all-center {
  justify-content: center;
  align-items: center;
}

.split_content-text.text-shadow {
  text-shadow: 0 14px 20px #0000004d;
}

.split_content-text.overflow-hidden {
  padding: 1px;
}

.split_content-text.full-height {
  height: 100%;
}

.spacer-xsmall-2 {
  width: 100%;
  padding-top: 1rem;
}

.apartment-table_head {
  z-index: 10;
  background-color: var(--neutral-color--neutral-lightest);
  min-width: 100%;
  padding-top: 1rem;
  display: inline-block;
  position: sticky;
  top: 4.5rem;
}

.td-ap.border-right {
  border-right: 1px solid var(--neutral-color--beige-200);
}

.table_cell {
  padding: .5rem;
}

.table_cell.border-right {
  border-right: 1px solid var(--neutral-color--beige-200);
}

.table_row {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-color--beige-200);
  display: table-row;
}

.table_component {
  margin-bottom: var(--spacing--large);
  width: 100%;
}

.heading-topic-new {
  color: var(--brand-color--brand-400);
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #0f0f0f7a;
  padding: .25rem .5rem;
  font-size: .9rem;
  font-weight: 500;
}

.heading-topic-new.inherit-color {
  color: inherit;
}

.heading-topic-new.text-color-primary {
  color: var(--text-color--text-primary);
}

.aform-main-wrapper {
  box-sizing: content-box;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  grid-template-rows: min-content;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  display: flex;
  position: relative;
}

.table_caption {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.table_header {
  text-align: left;
  padding: .5rem;
}

.table_header.border-right {
  border-right: 1px solid var(--neutral-color--beige-200);
}

.table_head {
  background-color: var(--brand-color--brand-50);
}

.bugfix_split_content-text {
  width: 100%;
  max-width: 100%;
}