:root {
  /* RENAMING CSS VARIABLES */
  --brand-400: var(--brand-color--brand-400);
  --brand-50: var(--brand-color--brand-50);
  --brand-900: var(--brand-color--brand-900);
  --brand-950: var(--brand-color--brand-950);
  --white: var(--neutral-color--white);
  --black: var(--neutral-color--black);
  --neutral-lightest: var(--neutral-color--neutral-lightest);
  --neutral: var(--neutral-color--neutral);
  --beige-100: var(--neutral-color--beige-100);
  --beige-200: var(--neutral-color--beige-200);
  --neutral-dark: var(--neutral-color--neutral-dark);
  --disabled-bg: var(--disabled-bg);
  --background-overlay: var(--background-color--background-overlay);
  --circle-size: var(--circle--circle-size);
  --success-green: var(--system-color--success-green);
  --success-green-dark: var(--system-color--success-green-dark);
  --warning-yellow-dark: var(--system-color--warning-yellow-dark);
  --error-red: var(--system-color--error-red);
  --error-red-dark: var(--system-color--error-red-dark);
  --focus-state: var(--system-color--focus-state);
  --beige-dark: var(--beige-dark);
}

[possibly-empty="true"]:empty,
[possibly-empty="true"]:has(p:empty) {
  display: none;
}

.w-richtext ol li::marker {
  color: var(--brand-400);
}

[data-max-width-label-container="true"],
.dish {
  container-type: inline-size;
  container-name: dish
}

@container dish (max-width: 35rem) {
  [data-label="true"]>[data-label-text="true"] {
    display: none;
  }
}

/* .nav-on-dark .nav_brand-svg,
.nav-on-dark .nav-button>:first-child {
  color: var(--neutral-lightest);
} */

.bento-trailing>*:not(.bento-card-show_content),
.bento-card-show_content>*:not(.bento-image_gradient) {
  z-index: 1;
  position: relative;
}

[relative="true"] {
  position: relative;
}

.relative-children>*:not([already-relative]) {
  position: relative;
}

.inline-children>* {
  display: inline;
}

.bento-card h3 {
  font-weight: 700;
  font-size: 1.125rem;
}

.swiper {
  --swiper-pagination-color: var(--brand-50);
  --swiper-pagination-bullet-inactive-color: var(--brand-50);
  --swiper-pagination-bullet-inactive-opacity: .6;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
  /* display: none; */
}

.swiper .swiper-button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.swiper:hover .swiper-button {
  opacity: 1;
}

/*{ Pflege Hero Circle */
.pg_hero-actual_content {
  max-width: 40rem;
}

.pgc_beige {
  /* transform: translate(-15%, -50%); */
  min-width: calc(1212px / 100 * 1.1 * 50);
  min-height: calc(1212px / 100 * 1.1 * 50);
  max-width: calc(1400px / 100 * 1.1 * 50);
  max-height: calc(1400px / 100 * 1.1 * 50);
  /* top: 50%;
  left: 0%; */
  transform-origin: 100%;
}

.pgc-item {
  /* transform-origin: 190% 50%; */
  /* transition: transform 500ms ease-in-out; */
  /* user-select: none; */
}

/* ONLY EDIT THIS */
.pgc-item_wrap {
  --offset: 0deg;
  --item-start: 197deg;
  --item-offset: 10deg;
  --circle-size: 50em;
  --space: 2em;
  --translate: calc((var(--circle-size) / 2) + var(--space));
}

.pgc-item_wrap .pgc-item:nth-of-type(1) {
  transform: rotate(calc(var(--item-start) + var(--offset)))
    /*                           */
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(2) {
  transform: rotate(calc((var(--item-start) - 1 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 1 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(3) {
  transform: rotate(calc((var(--item-start) - 2 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 2 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(4) {
  transform: rotate(calc((var(--item-start) - 3 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 3 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(5) {
  transform: rotate(calc((var(--item-start) - 4 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 4 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(6) {
  transform: rotate(calc((var(--item-start) - 5 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 5 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(7) {
  transform: rotate(calc((var(--item-start) - 6 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 6 * var(--item-offset) + var(--offset))));
}

.pgc-item_wrap .pgc-item:nth-of-type(8) {
  transform: rotate(calc((var(--item-start) - 7 * var(--item-offset)) + var(--offset)))
    /**/
    translate(var(--translate))
    /**/
    rotate(calc(-1 * (var(--item-start) - 7 * var(--item-offset) + var(--offset))));
}

/*}*/

/*{ Custom Breakpoints */
@media screen and (min-width: 1400px) {
  .pgc-item_wrap {
    /* --offset: 0deg; */
    /* --item-start: 195deg; */
    /* --item-offset: 12deg; */
    --circle-size: calc(1400px / 100 * 1.1 * 50);
    /* --space: 3rem; */
  }
}

@media screen and (min-width: 1300px) {
  .pg_hero-actual_content .heading-style-h1 {
    font-size: 2.75rem !important;
  }
}

@media screen and (min-width: 992px) {
  .pg_hero-actual_content .heading-style-h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1270px) {

  /* circle max-width kicks in */
  .pg_hero-img_circle {
    max-width: calc(1270px / 100 * 1 * 55);
    max-height: calc(1270px / 100 * 1 * 55);
    /* right: auto; */
    /* left: 12rem; */
  }
}


@media screen and (max-width: 1212px) and (min-width: 992px) {

  /* circle min-width kicks in */
  .pgc_beige {
    transform: translate(-6.25rem, -50%);
  }

  .pgc-item_wrap {
    /* --offset: 0deg; */
    /* --item-start: 195deg; */
    /* --item-offset: 12deg; */
    --circle-size: calc(1212px / 100 * 1.1 * 50);
    /* --space: 3rem; */
  }
}

@media screen and (max-width: 1212px) {

  /* circle min-width kicks in */
  .pgc-item_wrap {
    /* --offset: 0deg; */
    /* --item-start: 195deg; */
    /* --item-offset: 12deg; */
    --circle-size: calc(1212px / 100 * 1.1 * 50);
    /* --space: 3rem; */
  }
}

/*}*/

[padding-global] {
  padding: 0rem 3rem;
}

@media screen and (max-width: 991px) {
  .pgc-item_wrap {
    --offset: 0deg;
    --item-start: 197deg;
    --item-offset: 10deg;
    --circle-size: calc(1212px / 100 * 1.1 * 50);
    --space: 2em;
  }

  [padding-global] {
    padding: 0rem 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  [padding-global] {
    padding: 0rem 1.25rem;
  }

  #download>:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
  }
}

@media screen and (max-width: 478px) {}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}