/* Mimic the look of your custom dropzone */
uc-file-uploader-minimal.my-config {
  border: 0px dashed var(--neutral-color--beige-200);
  background-color: var(--neutral-lightest);
  text-align: center;
  cursor: pointer;
  padding: 0rem;
  transition: background-color .2s, border-color .2s;
  display: block;
  position: relative;
  border-radius: 0px;
  /* Optional: Rounded corners for a cleaner look */
}

uc-file-uploader-minimal * {
  border-radius: 0px !important;
  font-family: Montserrat, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out;
  --uc-background: var(--neutral-color--neutral-lightest);
  --uc-muted: var(--brand-50);
  --uc-secondary: var(--brand-50);
  --uc-secondary-hover: var(--beige-100);
  --uc-primary: var(--brand-400);
  --uc-primary-hover: var(--neutral-lightest);
  --uc-padding: 1rem;
}

uc-upload-list .uc-toolbar {
  gap: .5rem;
}

uc-file-uploader-minimal .uc-content,
uc-upload-list {
  border-width: 0px;
  background-color: transparent;
  padding: 0rem;
}

/* Hide Uploadcare's default file selector UI */
uc-drop-area {
  border: 1px dashed var(--neutral-color--beige-200);
  background-color: var(--neutral-lightest);
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 1rem;
}

uc-drop-area:hover,
uc-drop-area[drag-state="over"] {
  background-color: var(--neutral-color--beige-100) !important;
}

uc-file-uploader-minimal.my-config button:not(.uc-mini-btn) {
   padding: 1.25rem 1rem;
}

uc-file-uploader-minimal.my-config .uc-done-btn {
  color: var(--brand-950);
}

uc-file-uploader-minimal.my-config .uc-done-btn:hover {
  background-color: var(--brand-900);
  color: var(--neutral-lightest);
}

uc-file-uploader-minimal.my-config .uc-mini-btn:hover {
  background-color: var(--beige-100);
}

/* Hide the Uploadcare branding (optional) */
uc-copyright {
  display: none;
}