<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Components Playground</title>
    <!--
      This stylesheet is manually inserted and needs to be manually updated after each publish
    -->
    <link
      href="https://cdn.prod.website-files.com/667c0f7855d01c358dfd9f93/css/sanavita-ag.webflow.shared.a335b4f05.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--
      This context remains in the light DOM. Add Webflow variable-mode classes
      here, or add further Webflow wrapper elements around #root as needed.
      Their custom properties inherit through #root into its Shadow Root.
    -->
    <!-- <div class="screen-page-wrapper is-bistro"> -->
    <div class="tv-background">
      <div id="root"></div>
    </div>
    <script type="module" src="./index.tsx"></script>
  </body>
</html>
