:root {
  --white: white;
  --black: black;
  --brand-blue: #01203e;
  --beige: #faf8f5;
  --text-grey: #363c3f;
  --border-light-gold: #e9decc;
  --brand-gold: #cda05a;
}


[section-style="branded"] {
  background-color: var(--beige);
}

[section-style="dark"] {
  color: var(--white);
  background-color: var(--brand-blue);
}

[section-style="dark"] h1,
[section-style="dark"] h2,
[section-style="dark"] h3,
[section-style="dark"] h4,
[section-style="dark"] h5,
[section-style="dark"] h6,
[section-style="dark"] .text-rich-text,
[section-style="dark"] .text-rich-text * {
  color: var(--white) !important;
}

/*
.swiper-slide {
  margin-right: 8px;
}

.swiper-slide {
  height: 100% !important;
}

[data-swiper-space="8"] .swiper-slide {
  margin-right: 8px;
}

[data-swiper-space="16"] .swiper-slide {
  margin-right: 16px;
}

[data-swiper-space="20"] .swiper-slide {
  margin-right: 20px;
}

[data-swiper-space="24"] .swiper-slide {
  margin-right: 24px;
}

[data-swiper-space="32"] .swiper-slide {
  margin-right: 32px;
}

[data-swiper-space="48"] .swiper-slide {
  margin-right: 48px;
}
*/
[data-swiper-slides-per-view="2"] .swiper-slide {
  width: 50%;
}

[data-swiper-slides-per-view="3"] .swiper-slide {
  width: 33.333%;
}

.split-slot:has(.swiper) {
  padding-right: 1px;
}

.swiper {
  --swiper-pagination-color: var(--border-light-gold);
  --swiper-pagination-bullet-inactive-color: var(--border-light-gold);
  --swiper-pagination-bullet-inactive-opacity: .6;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none !important;
  /* display: none; */
}

/*.swiper .swiper-button-static,*/
.swiper .swiper-button {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* .swiper:hover .swiper-button-static, */
.swiper:hover .swiper-button {
  opacity: 1;
}