@keyframes marqueeAnimationToLeft {
  0% {
    /* Starting position */
    transform: translateX(0);
  }

  100% {
    /* Ending position */
    transform: translateX(-50%);
  }
}

@keyframes marqueeAnimationToRight {
  0% {
    /* Starting position */
    transform: translateX(0);
  }

  100% {
    /* Ending position */
    transform: translateX(50%);
  }
}

[data-marquee-element="component"][data-direction="toLeft"] {
  justify-content: flex-start;
}

[data-marquee-element="component"][data-direction="toRight"] {
  justify-content: flex-end;
}

[data-marquee-element="component"][data-direction="toLeft"]>[data-marquee-element="track"] {
  animation: marqueeAnimationToLeft 40s linear infinite;
  justify-content: flex-start;
}

[data-marquee-element="component"][data-direction="toRight"]>[data-marquee-element="track"] {
  animation: marqueeAnimationToRight 40s linear infinite;
  justify-content: flex-end;
}

[data-marquee-element="component"][data-marquee-paused="true"] [data-marquee-element="track"] {
  animation-play-state: paused !important;
}
