/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext> :not(div):first-child,
.w-richtext>div:first-child> :first-child,
.text-rich-text> :not(div):first-child,
.text-rich-text>div:first-child> :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext> :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child,
.w-richtext ul:last-child,
.text-rich-text> :last-child,
.text-rich-text ol li:last-child,
.text-rich-text ul li:last-child,
.text-rich-text ul:last-child {
  margin-bottom: 0 !important;
}

.container-small {
  margin-right: auto !important;
  margin-left: auto !important;
}

.w-richtext ul li,
.text-rich-text ul li {
  list-style-type: none;
}

.w-richtext ul li::before,
.text-rich-text ul li::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -1.9rem;
  width: 1.5rem;
  height: 1.5rem;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(250 187 33)'%3E%3Cpath d='M5 13L9 17L19 7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");*/
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='rgb(250 187 33)' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='square'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1rem;
  margin-bottom: .125rem;
}

[section-style="brand"] .text-rich-text i,
[section-style="brand"] .text-rich-text em {
  color: var(--neutral-color--beige-100);
}

[section-style="dark"] .w-richtext:not(.card .w-richtext, .daily_card .w-richtext) {
  color: var(--neutral-color--neutral-lightest);
}

[section-style="dark"] .accordion-item:not(.is-simple) .w-richtext,
[section-style="dark"] .card .w-richtext {
  color: var(--text-color--text-primary);
  /* Or reset to whatever style you want */
  ;
}

[section-style="sonnenweg-200"] .heading-topic {
  color: var(--brand-color--brand-900);
}

.text-rich-text.is-activity p {
  margin-bottom: 0px;
}

html.wf-design-mode [wf-empty="false"] {
  /* Overwrite the .wf-empty styles */
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none;
  padding-bottom: 0;
  padding-right: 0;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
}

html.wf-design-mode [data-visibility="visible"] {
  visibility: visible;
  display: block;
}

html.wf-design-mode [data-visibility="hidden"] {
  visibility: hidden;
  display: none;
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width:1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}

@media screen and (max-width:1440px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (max-width:479px) {
  html {
    font-size: 1rem;
  }
}